.panda_upload_filename {
    position: relative;
    top: -6px;
}

.panda_upload_progress {
    display: block;
    width:250px;
    height:26px;
    border:1px solid #0c3c7e;
    background: url(/panda_uploader/progress_bg.gif) repeat scroll left top;
}

.panda_upload_progress .progress-inside {
    height:100%;
    background-image: url(/panda_uploader/progress_fg.gif);
}