<div class="instructions">
  <p>Checking if custom events fire.</p>
  <p>Upload a file and have a look at the events count below the form.</p>
</div>

<form action="/player" method="get">
    <label>Upload a video<br/></label>

    <input type="hidden" id="html5-field" name="panda_video_id" />
    <div id="html5-progress" class="panda_upload_progress"></div>

    <p><input type="submit" value="Save" /></p>
</form>
<div id="score">
  <p>Number of custom events called: <span id="points">0</span></p>
  <table>
  </table>
</div>


<form action="/player" method="get">
    <label>Upload a video<br/></label>

    <input type="hidden" id="flash-field" name="panda_video_id" />
    <div id="flash-progress" class="panda_upload_progress"></div>

    <p><input type="submit" value="Save" /></p>
</form>

<script type="text/javascript">
var common_settings = {
  api_url: '<%= @panda.api_url %>',
  uploader_dir: '/panda_uploader',
  // upload_strategy: new PandaUploader.UploadOnSelect(),
  onwidgetload: handle('onwidgetload'),
  onchange: handle('onchange'),
  onerror: handle('onerror'),
  onabort: handle('onabort'),
  onprogress: handle('onprogress'),
  onreadystatechange: handle('onreadystatechange'),
  onloadstart: handle('onloadstart'),
  onsuccess: handle('onsuccess')
};

var html5_settings = {
  upload_strategy: new PandaUploader.UploadOnSelect(),
  upload_progress_id: 'html5-progress'
};
jQuery.extend(html5_settings, common_settings);
$('#html5-field').pandaUploader(<%= @panda.signed_params("POST", "/videos.json").to_json %>, html5_settings);

var flash_settings = {
  upload_strategy: new PandaUploader.UploadOnSelect(),
  upload_progress_id: 'flash-progress',
  widget: new PandaUploader.FlashWidget()
};
jQuery.extend(flash_settings, common_settings);
$('#flash-field').pandaUploader(<%= @panda.signed_params("POST", "/videos.json").to_json %>, flash_settings);
console.log(html5_settings)
function handle(name) {
  return function () {
    scoreEvent(name);
    var handler = window[name];
    if (handler) {
      handler.apply(window, arguments)
    }
  }
}

function scoreEvent(name) {
  var points = $('#points').text()*1;
  $('#points').text(points+1);
  var selector = '#score table tr.' + name;
  if ($(selector).size() == 0) {
    $('#score table').append('<tr class="' + name + '"><th>' + name + '</th><td class="count">0</td></tr>');
  }
  var count = $(selector).find('td.count').text()*1;
  $(selector).find('td.count').text(count + 1)
}
</script>