<div class="instructions">
  <p>Just to check that the HTML5 widget can be styled with CSS and JS.</p>
  <p>For further info, check out <a href="http://www.quirksmode.org/dom/inputfile.html">PPK's article on styling file inputs</a>.</p>
</div>

<form action="/player" method="get" id="upload-form">
    <label>Upload a video</label>

    <div id="file-wrap">
      <input type="hidden" id="returned_video_id" name="panda_video_id" />
      <div class="fakefile">
        <input type="text" class="filename" name="panda_video_id" disabled />
        <span class="button"></span>
      </div>
    </div>
    <div id="upload_progress" class="panda_upload_progress"></div>

    <p><input type="submit" value="Save" /></p>
</form>
<script type="text/javascript">
$('#returned_video_id').pandaUploader(<%= @panda.signed_params("POST", "/videos.json").to_json %>, {
    upload_progress_id: 'upload_progress',
    api_url: '<%= @panda.api_url %>',
    uploader_dir: '/panda_uploader',
    onchange: function() {
      var files = $('#file-wrap input[type=file]').get(0).files;
      $('#file-wrap .fakefile .filename').val(files[0].name);
    }
});
</script>
<style type="text/css">
#file-wrap {
  position: relative;
}
#file-wrap .fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#file-wrap .fakefile .button {
  background-image: url(/images/alternative-button.png);
  position: absolute;
  display: block;
  width: 100px;
  height: 26px;
  top: 0;
}
#file-wrap input[type=file] {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
  width: 100px;
  height: 26px;
}
#file-wrap .filename {
  position: absolute;
  left: 105px;
}
</style>