<p>This Sinatra app contains examples of use of <a href="http://github.com/newbamboo/panda_uploader">panda_uploader</a>.</p>

<p>This is not intended for actual human consumption. Instead, it's used by our test suite that everything works correctly.</p>