<p>This Sinatra app contains examples of use of <a href="http://github.com/newbamboo/panda_uploader">panda_uploader</a>.</p>

<p>Ideally, this should be tested automatically using Selenium, but we are still working on that. For the time being, here's a list of test cases to check manually:</p>

<ul>
  <li><a href="/js-tests">JS unit tests</a></li>
  <li><a href="/upload-on-submit">Upload on submit</a></li>
  <li><a href="/upload-on-select">Upload on select</a></li>
  <li><a href="/with_other_controls">With other controls</a></li>
  <li><a href="/upload-on-select-multiple-chances">Upload on select, multiple chances</a></li>
  <li><a href="/flash-options">Flash options</a></li>
  <li><a href="/custom-events">Custom events</a></li>
</ul>