<link href="/qunit/qunit.css" rel="stylesheet" type="text/css" />
<script src="/qunit/qunit.js"></script>

<script>$(document).ready(function(){


PandaUploader.alert = function(msg) {
  PandaUploader.latest_alert = msg;
}

module("Detection");

test("detect support for file uploads", function() {
  var support = PandaUploader.supportAjaxUpload();
  if (jQuery.browser.webkit || jQuery.browser.mozilla) {
    ok(support, 'Support expected');
  }
  else {
    ok(!support, 'Support NOT expected');
  }
});

test("detect support for Ajax progress events", function() {
  var support = PandaUploader.supportAjaxProgressEvents();
  var b = jQuery.browser;
  if (b.webkit || b.mozilla || b.msie && b.version >= 8) {
    ok(support, 'Support expected');
  }
  else {
    ok(!support, 'Support NOT expected');
  }
});


module("Factories");

test("generate cross-site request object", function() {
  var xro = PandaUploader.createXRequestObject();
  var b = jQuery.browser;

  if (b.webkit || b.mozilla) {
    ok(xro instanceof XMLHttpRequest, 'XMLHttpRequest');
  }
  else if(b.msie && b.version >= 8) {
    ok(xro instanceof XDomainRequest, 'XDomainRequest');
  }
  else {
    equal(xro, null);
  }
});


module("Checking options");

test("requires the upload parameters", function () {
  PandaUploader.latest_alert = '';
  $('#the-file').checkPandaUploaderOptions(undefined, {});
  ok(PandaUploader.latest_alert.indexOf('error') != -1, 'Error expected');
});

test("requires the ID of the upload control", function () {
  PandaUploader.latest_alert = '';
  $('#the-file').checkPandaUploaderOptions({}, {});
  ok(PandaUploader.latest_alert.indexOf('specify the button id') != -1, 'Error expected');
});

test("requires some elements selected in the query", function () {
  PandaUploader.latest_alert = '';
  $('#no-file').checkPandaUploaderOptions({}, {upload_button_id: 'upload_button'});
  ok(PandaUploader.latest_alert.indexOf('jQuery element is empty') != -1, 'Error expected');
});

test("require a form", function () {
  PandaUploader.latest_alert = '';
  $('#bad-file').checkPandaUploaderOptions({}, {upload_button_id: 'bad_upload_button'});
  ok(PandaUploader.latest_alert.indexOf('Could not find a suitable form') != -1, 'Error expected');
});

test("do not accept elements with 'submit'  as name/ID", function () {
  PandaUploader.latest_alert = '';
  $('#another-file').checkPandaUploaderOptions({}, {upload_button_id: 'another_upload_button'});
  ok(PandaUploader.latest_alert.indexOf('Neither NAME nor ID can') != -1, 'Error expected');
});

test("accept a correct form", function () {
  PandaUploader.latest_alert = '';
  $('#the-file').checkPandaUploaderOptions({}, {upload_button_id: 'upload_button'});
  equal(PandaUploader.latest_alert, '')
});

});</script>

<h1 id="qunit-header"><code>panda_uploader</code> JS unit tests</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>

<p>Test form follows</p>
<form>
  <span id="upload_button"></span>
  <input type="hidden" id="the-file" />
</form>

<span id="bad_upload_button"></span>
<input type="hidden" id="bad-file" />

<form id="bad-form">
  <span id="another_upload_button"></span>
  <input type="hidden" id="another-file" />
  <input name="submit" type="submit" />
</form>
