<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Panda: example of PHP-based client app</title>
	<script src="/js/jquery-1.4.1.min.js"></script>
	<script src="/panda_uploader/jquery.panda-uploader-0.8.1.min.js"></script>
	<link href="/css/all.css" rel="stylesheet" type="text/css">
	<link href="/panda_uploader/panda-uploader.css" rel="stylesheet" type="text/css">
</head>
<body><div class="container">
<%= yield %>
</div></body>
</html>