<h1>"Player" page</h1>

<p>Video was uploaded with ID <code><%= @video_id %></code></p>

<p>This video will be transcoded into <big><%= @num_encodings %></big> different encodings.</p>
<pre><%= @pretty_printed_encodings %></pre>