<div class="instructions">
  <p>A basic form, but uploading on select.</p>
  <p>Select a file and it should start uploading immediately. After upload, click "Save" to check all is well.</p>
</div>

<form action="/player" method="get" id="upload-form">
    <label>Upload a video<br/></label>
    
    <input type="hidden" id="returned_video_id" name="panda_video_id" />
    <input type="text" id="upload_filename" disabled="true" class="panda_upload_filename" />
    <div id="upload_progress" class="panda_upload_progress"></div>

    <p><input type="submit" value="Save" /></p>
</form>
<script type="text/javascript">
$('#returned_video_id').pandaUploader(<%= @panda.signed_params("POST", "/videos.json").to_json %>, {
    upload_filename_id: 'upload_filename',
    upload_progress_id: 'upload_progress',
    api_url: '<%= @panda.api_url %>',
    uploader_dir: '/panda_uploader',
    strategy: 'upload_on_select'
});
</script>