<div class="instructions">
  <p>HTML5, upload on submit.</p>
  <p>Simply select a file and click "Save".</p>
</div>

<form action="/player" method="get" id="upload-form">
    <label>Upload a video<br/></label>
    
    <span id="upload_button"></span>
    <input type="text" id="upload_filename" disabled="true" class="panda_upload_filename" />
    <div id="upload_progress" class="panda_upload_progress"></div>
    <input type="hidden" id="returned_video_id" name="panda_video_id" />

    <p><input type="submit" value="Save" /></p>
</form>
<script type="text/javascript">
$('#returned_video_id').pandaHTML5Uploader(<%= @panda.signed_params("POST", "/videos.json").to_json %>, {
    upload_button_id: 'upload_button',
    upload_filename_id: 'upload_filename',
    upload_progress_id: 'upload_progress',
    api_url: '<%= @panda.api_url %>',
    uploader_dir: '/panda_uploader'
});
</script>