<div class="instructions">
  <p>Is the "Additional control" enabled and working? (Check IE6)</p>
</div>

<form action="/player" method="get" id="upload-form">
    <label>Upload a video<br/></label>
    
    <p><label>Additional control <input type="text" name="additional_control"></label></p>
    
    <input type="hidden" id="returned_video_id" name="panda_video_id" />
    <div id="upload_progress" class="panda_upload_progress"></div>

    <p><input type="submit" value="Save" /></p>
</form>
<script type="text/javascript">
$('#returned_video_id').pandaUploader(<%= @panda.signed_params("POST", "/videos.json").to_json %>, {
    upload_progress_id: 'upload_progress',
    api_url: '<%= @panda.api_url %>',
    uploader_dir: '/panda_uploader'
});
</script>
