<script src="/js/prototype.js"></script>
<div class="instructions">
  <p>Basic form, but with the Prototype JS library also included.</p>
  <ol>
    <li>Use <strong>Choose File</strong> to select a file</li>
    <li>Press <strong>Save</strong></li>
    <li>The upload should then start</li>
  </ol>
</div>

<form action="/player" method="get" id="upload-form">
    <label>Upload a video<br/></label>
    
    <span id="upload_button"></span>
    <input type="text" id="upload_filename" disabled="true" class="panda_upload_filename" />
    <div id="upload_progress" class="panda_upload_progress"></div>
    <input type="hidden" id="returned_video_id" name="panda_video_id" />

    <p><input type="submit" value="Save" /></p>
</form>
<script type="text/javascript">
jQuery('#returned_video_id').pandaUploader(<%= @panda.signed_params("POST", "/videos.json").to_json %>, {
    upload_button_id: 'upload_button',
    upload_filename_id: 'upload_filename',
    upload_progress_id: 'upload_progress',
    api_url: '<%= @panda.api_url %>',
    uploader_dir: '/panda_uploader',
});
</script>